@model AccomodationDetailsViewModel
@{
    ViewData["Title"] = Model.Name;
}
<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <img src="@Model.ImageUrl" width="400" height="500" />
            <h1>Description:</h1>
            <p>@Model.Description</p>
            <h1>Owner:</h1>
            <p>@Model.OwnerName</p>
            <h1>Phone Number:</h1>
            <p>@Model.OwnerPhoneNumber</p>
            <h1>Have Already Rented:</h1>
            <p>@Model.HaveAlreadyRented</p>
</section>
</div>
</div>